/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
    cursor: pointer;
}

nav #cart-menu {
    position: relative;
    cursor: pointer;
}

nav #cart-icon {
    max-width: 30px;
}

nav #cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    color: #fff;
    width: auto;
}

nav #cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav #cart-dropdown li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    width: 100%;
}

nav #cart-dropdown li:last-child {
    border-bottom: none;
}

main {
    padding: 1rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column; 
    border-radius: 24px;
    margin: 20px 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    object-fit: cover; 
}
.product-card p {
    max-height: 4.5em; 
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}
/* Nuevos estilos para el menú de categorías */
.categoria{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
    padding: 10px;
    background-color: #EEEEEE;
}
.category-menu {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

.category-item {
    text-align: center;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.category-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.category-item:hover {
    background-color: #000000;
}

/* Estilos para el carrito */
#cart {
    text-align: center;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#cart-items li:last-child {
    border-bottom: none;
}

#cart-total {
    font-weight: bold;
}

.modify-quantity{
    cursor: pointer;
    background-color: #ea7100;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.remove-from-cart {
    cursor: pointer;
    background-color: #fa0000;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.modify-quantity:hover {
    background-color: #f6a030;
}
.remove-from-cart:hover {
    background-color: #dd0f0f;
}
.container-buttons{
    display: flex;
    flex-direction: row;
    padding: 8px;
}

#checkout-form-section{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 8px;
    padding: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 16px;
    opacity: 0.9;
    
}